.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.95em;
}
